[Unit]
Description="forward AOA stream from USB connected android device to ssh or cockpit"

[Service]
ExecStart=/usr/lib/aoa-proxy-forward %I
SuccessExitStatus=0 2