[Unit]
Description="forward AOA stream from USB connected android device to ssh or cockpit"

[Service]
ExecStart=/usr/sbin/aoa-proxy --port %I --connect 22 --wait --forward 
